<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Canary.SoC" version="0.1.4" targetFramework="net472" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net472" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.5" targetFramework="net472" />
  <package id="HidSharp" version="2.1.0" targetFramework="net472" />
  <package id="LibreHardwareMonitorLib" version="0.9.3" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks" version="4.11.0" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net472" />
  <package id="System.CodeDom" version="8.0.0" targetFramework="net472" />
  <package id="System.Management" version="8.0.0" targetFramework="net472" />
</packages>